WOODPECKER_OPEN="true"
WOODPECKER_HOST="http://localhost:8000"
WOODPECKER_GITHUB="true"
WOODPECKER_GITHUB_CLIENT=""
WOODPECKER_GITHUB_SECRET=""
WOODPECKER_ADMIN="your_github_username"
WOODPECKER_DATABASE_DRIVER="sqlite3"
WOODPECKER_DATABASE_DATASOURCE="/var/lib/woodpecker/woodpecker.db"
WOODPECKER_SERVER_ADDR=":8000"
WOODPECKER_SECRET_TOKEN="your_github_personal_access_token_not_the_oauth"
WOODPECKER_AGENT_SECRET="some_random_sectet_srting"
