WOODPECKER_OPEN=true
WOODPECKER_HOST=http://localhost:8000
WOODPECKER_GITHUB=true
WOODPECKER_GITHUB_CLIENT=your_github_client_id
WOODPECKER_GITHUB_SECRET=your_github_client_secret
WOODPECKER_ADMIN=your_github_username
WOODPECKER_DATABASE_DRIVER=sqlite3
WOODPECKER_DATABASE_DATASOURCE=/var/lib/woodpecker/woodpecker.db
WOODPECKER_SERVER_ADDR=:8000
# Secret syncing from GitHub
WOODPECKER_SECRET_ENDPOINT=https://api.github.com
WOODPECKER_SECRET_TOKEN=your_github_personal_access_token